.articleImage {
  max-width: 50%;
}

.articles_container {
  display: flex;
  justify-content: center;
}

li {
  margin-top: 1.5em;
}

.mainHeading {
  text-align: center;
  text-decoration: underline;
}

.home_Text {
  text-align: center;
}

.articleHeader {
  font-size: 0.5px;
}

.comment_Container {
  border: 2px solid red;
}
