@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:ital,wght@1,300&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
}

header {
  color: black;
  font-size: 1.75em;
}

.articles_header {
  color: black;
  text-decoration: none;
}

.home_header {
  color: black;
  text-decoration: none;
}

.articleImage {
  max-width: 60%;
  border: 3px solid #c3acd0;
  border-radius: 3px;
}

li {
  margin-top: 1.5em;
}

.mainHeading {
  text-align: center;
}

.home_Text {
  text-align: center;
}

.articleHeader {
  font-size: 0.5px;
}

.articleHeader {
  color: black;
}

.bigContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

ul {
  display: inline-block;
}

.navBar {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.navItem {
  font-size: 1.25rem;
  margin-right: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.home_Text {
  margin-bottom: 2.5rem;
}
